<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
</head>
<body>
    <h1>Новый пользователь</h1>

    <form th:action="@{/users-web/create}" th:object="${userDto}" method="post">
      <div>
        <label for="name">Имя:</label>
        <input type="text" id="name" th:field="*{name}"/>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></div>
      </div>

      <div>
        <button type="submit">Создать</button>
        <a th:href="@{/users-web/list}">Отмена</a>
      </div>

    </form>

</body>
</html>